<!-- base code -->
<!--
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
    	Display search box here.

    </body>
</html>
-->

<!-- Enhao's code -->
<!doctype html>
<html lang="en">
  	<head>
    <!-- Required meta tags -->
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<!-- Bootstrap CSS -->
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    	<title>Week1: Search Tool</title>
  	</head>
  	<body>
    	<div class="container">
  			<div class="jumbotron">
   				<h1>Search for San Francisco FY14-15 purchase record.</h1> 
    			<p>ProductBio week1 mini project</p>
    			<p>Author: Enhao Cui</p> 
  			</div>
  			<div class="input-group">
  				<input type="text" id = "key0" class="form-control" placeholder="date (mm/dd/yy)" aria-describedby="basic-addon1" onkeyup="keyup(event)">
			</div>
			<div class="input-group">
  				<input type="text" id = "key1" class="form-control" placeholder="vendor" aria-describedby="basic-addon1" onkeyup="keyup(event)">
			</div>
			<div class="input-group">
  				<input type="text" id = "key2" class="form-control" placeholder="description" aria-describedby="basic-addon1" onkeyup="keyup(event)">
			</div>
			<div class="input-group">
  				<input type="text" id = "key3" class="form-control" placeholder="quantity" aria-describedby="basic-addon1" onkeyup="keyup(event)">
			</div>
			<div class="input-group">
  				<input type="text" id = "key4" class="form-control" placeholder="invoice amount (low - high)" aria-describedby="basic-addon1" onkeyup="keyup(event)">
			</div>
			<button class="btn btn-info" onclick= "query()">
      			<span class="glyphicon glyphicon-search"></span> Search
    		</button>
		</div>
		<script>
			function query() {
				var x = [];
				for (var i = 0; i < 5; i++) {
					var str = document.getElementById("key" + i).value
					x.push(str);
				}
    			window.location.href += "?q=" + x.join("*"); // Use '*' as delimeter, to allow searching for number with comma, eg. 1,000
			}
			function keyup(e) {
    			if (e.keyCode === 13) { //enter pressed
    				query();
    			}
    		}
		</script>
  	</body>
</html>