<!doctype html>
<html lang="en">
  	<head>
    <!-- Required meta tags -->
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<!-- Bootstrap CSS -->
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    	<title>Week1: Search Tool</title>
  	</head>
  	<body>
    	<div class="container">
  			<div class="jumbotron">
   				<h1>Search Results</h1> 
    			<p>ProductBio week1 mini project.</p>
    			<p>Author: Enhao Cui</p> 
  			</div>
  			{% if result %}
  				<h3> Your search matched {{result|length}} records in our database. </h3> 
  			{% else %}
  				<h3> Oops, we haven't found anything that matched your query. </h3> 
  			{% endif %}
  			{% if result %}
  			<div class="table-responsive">
  			<table class="table table-hover table-bordered" >
  				<thead>
    				<tr>
    					<th scope="col">#</th>
      					<th scope="col">INVOICE AMOUNT</th>
      					<th scope="col">QUANTITY</th>
      					<th scope="col">DESCRIPTION</th>
      					<th scope="col">POST DATE</th>
      					<th scope="col">VENDOR</th>
    				</tr>
  				</thead>
  				<tbody>
  					{% for l in result %}
  						<tr>
  							<th scope="row">{{forloop.counter}}</th>
      						<td>{{l.INVOICE_AMT}}</td>
      						<td>{{l.QTY}}</td>
      						<td>{{l.DESCRIPTION}}</td>
      						<td>{{l.POST_DATE}}</td>
      						<td>{{l.VENDOR}}</td>
    					</tr>
    				{% endfor %}    				
  				</tbody>
			</table>
			</div>			
			{% endif %}
			<button class="btn btn-info" onclick= "window.history.back()">
      			<span class="glyphicon glyphicon-search"></span> Back to Search
    		</button>
		</div>
  	</body>
</html>